@import "../../../styles/base/mixins.scss";

.product-desc-wrap {
  width: 100%;
  background-color: var(--primary-bg);
  margin: 40px 0;

  .container {
    width: 850px;
    max-width: 100%;
    margin: 0 auto;
    @media screen and (max-width: 1400px) {
      width: 90%;
    }
  }
  

  & h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--primary-color);
    margin: 1rem 0;
  }
  & a {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    cursor: pointer;
    color: #23a6f0;
  }
}

.para-text {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.fixed-line-wrap {
  position: relative;
  margin: 2rem 0;
  .fixed-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #23856d;
  }
  .para-text {
    margin: 1rem 0 0 2rem;
  }
}

.tabs-wrap {
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 40px;
  border-bottom: 1px solid #ececec;
  @include flex-container(row, center, center);
  @media screen and (max-width: 1100px) {
    display: none;
  }

  .tabs {
    width: 100%;
    @include flex-container(row, space-around, center);
    gap: 40px;
    span {
      font-size: 14px;
      line-height: 24px;
      cursor: pointer;
      font-weight: 600;
      white-space: nowrap;
      color: var(--secondary-color);
    }

    & span:nth-child(3) {
      small {
        color: #23856d;
      }
    }
  }
}
