// hero.module.scss
@import "../../../styles/base/mixins.scss";

.hero-container {
  width: 100%;
  height: 80vh;
  @include flex-container(row, center, center);
  @media screen and (max-width: 1100px) {
    height: 100vh;
    margin: 50px 0;
  }
}

.hero-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 2fr);
  grid-gap: 5px;
  grid-template-areas:
    "box1 box2 box2"
    "box1 box3 box4";

  @media screen and (max-width: 1100px) {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    @include flex-container(column, center, center);
  }
}

.box {
  .content {
    padding: 1rem;
    @include flex-container(column, flex-start, flex-start);
    & h6:nth-child(1) {
      color: #2dc071;
      font-size: 14px;
      font-weight: 700;
    }
    & h6:nth-child(2) {
      font-size: 14px;
      font-weight: 700;
    }
    & h2 {
      margin: 1rem 0;
      @include responsive-title;
    }
  }
}

.box1 {
  width: 300px;
  height: 450px;
  grid-area: box1;
  background-image: url("/images/hero/img1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (max-width: 1100px) {
    width: 100%;
    flex: 4;
  }
}

.box2 {
  grid-area: box2;
  background-image: url("/images/hero/img2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (max-width: 1100px) {
    width: 100%;
    flex: 4;
  }
}

.box3 {
  grid-area: box3;
  background-image: url("/images/hero/img3.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (max-width: 1100px) {
    width: 100%;
    flex: 4;
  }
}

.box4 {
  grid-area: box4;
  background-image: url("/images/hero/img4.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (max-width: 1100px) {
    width: 100%;
    flex: 3;
  }
}
