// Import the font

// Define your color variables here
:root {
  // text colors
  --primary-color: #252b42;
  --secondary-color: #737373;

  // link text color
  --link-primary: #737373;

  // button colors
  --button-color-1: #23a6f0;
  // --button-color-2: #ffab24;

  // background colors
  --primary-bg: #FFFFFF;
  --primary-bg-section: #fafafa;
  --secondary-bg-section: #FAFAFA;
}
